<section class="section-pt-space section-pb-space single-feature-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h4>Icefame</h4>
                    <h3>Get App</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <div class="feature-content wow fadeInRight about-content" style="display: inline;">
                    <div>
                        <h3 class="title"></h3>
                        <p>Currently Icefame is at pre-launch and it is only available to a private group of persons</p>
                        <p>It will made available here once it is ready for public use.</p>
                        <p>Keep an eye on this space.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
        <div class="circle circle1"></div>
    </div>
</section>
<app-footer></app-footer>