
<!-- faq section start -->
<section class="section-pb-space section-pt-space help-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="intro-part">
                    <div class="title">
                        <h2>Have a question? reach us</h2>
                        <p>looking for anything else? reach us by fill this form</p>
                    </div>
                    <div class="contact-img">
                        <img src="assets/images/company-landing/faq.svg" class="img-fluid blur-up lazyload" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion theme-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Can I get famous on icefame?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Yes you can. You get famous by competing in contests and winning contests.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    How do I get to see global contest on my contest page?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                You can get to see global contest or high earning contests by participating in available contests. The more you participate and win contests, the more you will be expose to global and high value contests.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Can I earn money on Icefame?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Yes! Anyone can earn money on icefame. You earn money by winning or participating on paid contests.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Do I need to have high numbers of followers or high budget to create contest on icefame?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                No! But the higher the winners prize on a contest, the more people will engage on it.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- faq section end -->

<section class="section-pt-space section-pb-space single-feature-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h4>Still need more info?</h4>
                    <h3>Contact us</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vector-section about-image">
                    <img src="assets/images/about.jpg" class="img-fluid blur-up lazyload wow zoomIn"
                        data-wow-delay="0.20s" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-content wow fadeInRight about-content">
                    <div>
                        <h3 class="title">We're close to you</h3>
                        <p>Reach us here. Send us mail</p>
                        <ul class="feature-lisiting">
                            <li>
                                <a href="mailto:hi@icefame.com">
                                    <i class="fa fa-envelope"></i>
                                    hi@icefame.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
        <div class="circle circle1"></div>
    </div>
</section>
<app-footer></app-footer>