<!-- feature section start -->
<section class="feature-section section-pb-space overflow-hidden about-feature">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h4>our stats</h4>
                    <h3>No Stories, Facts Only</h3>
                </div>
            </div>
        </div>
        <div class="row margin-deafult">
            <div class="col-lg-4">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/about/man.svg" class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>100+ pre-lauch user</h3>
                        <p>We Provide Clean and better interface for easy to use application.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="https://themes.pixelstrap.com/friendbook/assets/svg/about/customer.svg" class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>5/5 Ratings</h3>
                        <p>All pre-launch users liked the icefame. Though they had suggestions to improve the </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
    </div>
</section>
<!-- feature section end -->
