<!-- feature section start -->
<section class="feature-section section-pt-space sm-pb-space overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h4>Icefame features</h4>
                    <h3>You get the best</h3>
                </div>
            </div>
            <div class="col-lg-4 col-6 mobile-w100">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="assets/images/company-landing/icon/feature1.png"
                            class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>Simple</h3>
                        <p>Icefame is built in a way that one doesn't require any formal education to understand how it works. And it has an easy to understand User Interface.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mobile-w100">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="assets/images/company-landing/icon/feature5.png"
                            class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>Equal Opportunities</h3>
                        <p>Icefame gives users equal opportunities to create and be part of contests.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mobile-w100">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="assets/images/company-landing/icon/feature2.png"
                            class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>Equal Voting</h3>
                        <p>Icefame users are the judges. You determine the winner of a contest by your votes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mobile-w100">
                <div class="feature-box">
                    <div class="icon-box">
                        <img src="assets/images/company-landing/icon/feature4.png"
                            class="img-fluid blur-up lazyload" alt="">
                    </div>
                    <div class="feature-content">
                        <h3>24/7 SUPPORT</h3>
                        <p>Our support service team are always there to support you and guide you in case you ever need it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
    </div>
</section>
<!-- feature section end -->