<!-- team section start -->
<section class="default-space-lg landing-bg section-pt-space section-pb-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h3>Our Team</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="slide-4 no-arrow mw-100">
                    <div>
                        <div class="team-section">
                            <div class="team-image">
                                <img src="assets/images/team/1.jpg" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="team-content">
                                <h3>Gabriel Otemu</h3>
                                <h6>CEO</h6>
                                <div class="team-social">
                                    <a href="https://twitter.com/gabriel49222901" target="_blank" class="social-box">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-section">
                            <div class="team-image">
                                <img src="assets/images/team/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="team-content">
                                <h3>Reward H.</h3>
                                <h6>CTO</h6>
                                <div class="team-social">
                                    <a href="https://twitter.com/RewardHall" target="_blank" class="social-box">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-section">
                            <div class="team-image">
                                <img src="assets/images/team/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="team-content">
                                <h3>Godwin Okpako</h3>
                                <h6>Marketing</h6>
                                <div class="team-social">
                                    <a href="https://twitter.com/godwinstarboy" target="_blank" class="social-box">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-section">
                            <div class="team-image">
                                <img src="assets/images/team/4.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                            </div>
                            <div class="team-content">
                                <h3>Omo Gbudje</h3>
                                <h6>Graphics</h6>
                                <div class="team-social">
                                    <a href="https://twitter.com/omoblizz2" target="_blank" class="social-box">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
    </div>
</section>
<!-- team section end -->