
<!-- footer start -->
<footer class="footer-pt-space pb-0 footer-theme overflow-hidden">
    <div class="container">
        <div class="row footer-sec footer-pb-space">
            <div class="col-lg-4 col-12">
                <div class="footer-title d-md-none d-block">
                    <h4>about</h4>
                </div>
                <div class="footer-content">
                    <div class="footer-logo"><img src="assets/images/icon/logo-long.png" alt=""></div>
                    <p>Icefame is built on the belief that there are millions of talents out there in the world that either lacks the opportunity to express themselves or restrained from expressing it due to social or economic factors</p>
                    <div class="footer-social">
                        <ul class="d-flex d-none">
                            <li><a href="https://facebook.com/icefame"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/icefame"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/icefame"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-title">
                    <h4>quick links</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li class="d-none"><a [routerLink]="['help']">help & support</a></li>
                        <li><a [routerLink]="['/aboutus']">company</a></li>
                        <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-title">
                    <h4>company</h4>
                </div>
                <div class="footer-content">
                    <ul>
                        <li><a [routerLink]="['/aboutus']">about us</a></li>
                        <li><a [routerLink]="['/contactus']">contact us</a></li>
                        <li><a [routerLink]="['/faq']">faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="sub-footer">
                    <p>Icefame © 2022. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle tringle1"></div>
    </div>
</footer>
<!-- footer end -->
