<!-- testimonial section start -->
<section class="testimonial-section section-pb-space section-pt-space single-feature-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-sec">
                    <h4>testimonial</h4>
                    <h3>see what our users are saying</h3>
                </div>
            </div>
        </div>
        <div class="row testimonial-space">
            <div class="col-lg-6 order-lg-2">
                <div class="testimonial-vector">
                    <div class="round">
                        <span></span>
                        <img src="assets/images/company-landing/logo.png" style="height: auto; width: 15vw;" class="img-fluid blur-up lazyload"
                            alt="">
                    </div>
                    <div class="users-sec">
                        <div class="user-box wow zoomIn" data-wow-delay="0.10s">
                            <div class="content">
                                <h6>Simple and fun</h6>
                            </div>
                            <div class="img">
                                <img src="assets/images/user-sm/1.jpg" class="img-fluid blur-up lazyload" alt="">
                            </div>
                        </div>
                        <div class="user-box user2 wow zoomIn" data-wow-delay="0.15s">
                            <div class="img">
                                <img src="assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="content bottom">
                                <h6>cool app</h6>
                            </div>
                        </div>
                        <div class="user-box user3 wow zoomIn" data-wow-delay="0.20s">
                            <div class="img">
                                <img src="assets/images/user-sm/3.jpg" class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="content bottom">
                                <h6>Fun and entertaining</h6>
                            </div>
                        </div>
                        <div class="user-box user4 wow zoomIn" data-wow-delay="0.25s">
                            <div class="content">
                                <h6>love to use</h6>
                            </div>
                            <div class="img">
                                <img src="assets/images/user-sm/4.jpg" class="img-fluid blur-up lazyload" alt="">
                            </div>
                        </div>
                        <div class="user-box user5 wow zoomIn" data-wow-delay="0.30s">
                            <div class="content">
                                <h6>Very engaging</h6>
                            </div>
                            <div class="img">
                                <img src="assets/images/user-sm/5.jpg" class="img-flui" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="feature-content">
                    <div>
                        <h3 class="title">User's reviews</h3>
                        <p>Pre-launch users are thrilled and can't wait for Icefame to be open for the public so they can share to friends.</p>
                        <div class="user-section d-none">
                            <ul>
                                <li>
                                    <img src="assets/images/user-sm/1.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                                <li>
                                    <img src="assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                                <li>
                                    <img src="assets/images/user-sm/3.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                                <li>
                                    <img src="assets/images/user-sm/4.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                                <li>
                                    <img src="assets/images/user-sm/5.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                                <li>
                                    <img src="assets/images/user-sm/6.jpg" class="img-fluid blur-up lazyload"
                                        alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="count-status d-none">
                            <ul>
                                <li>
                                    <h4>1M+</h4>
                                    <h6>total users</h6>
                                </li>
                                <li>
                                    <h4>50+</h4>
                                    <h6>unique features</h6>
                                </li>
                                <li>
                                    <h4>10K+</h4>
                                    <h6>user reviews</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
    </div>
</section>
<!-- testimonial section end -->