<!-- breadcrumb section start -->
<section class="breadcrumb-section breadcrumb-sm">
    <img src="assets/images/smiley-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
    <div class="animation-emoji">
        <ul class="circles">
            <li>
                <img src="assets/images/breadcrumb/1.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/2.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/3.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/4.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/5.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/6.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/7.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/8.png" class="img-fluid blur-up lazyload" alt="">
            </li>
            <li>
                <img src="assets/images/breadcrumb/9.png" class="img-fluid blur-up lazyload" alt="">
            </li>
        </ul>
    </div>
    <div class="help-search">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12 m-auto">
                    <h2>{{pageTitle}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb section end -->