
<!-- home section start -->
<section class="home-section overflow-hidden">
    <img src="assets/images/company-landing/home-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
    <div class="home-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-lg-2">
                    <div class="content-screen">
                        <div class="main-screen">
                            <img src="assets/images/company-landing/home-laptop.png" alt=""
                                class="img-fluid blur-up lazyload wow zoomIn" data-wow-delay="0.20s">
                        </div>
                        <div class="home-effect">
                            <img src="assets/images/company-landing/home-effect/1.png" alt="" class="img-fluid blur-up lazyload user wow zoomIn" data-wow-delay="0.60s">
                            <img src="assets/images/company-landing/home-effect/2.png" alt="" class="img-fluid blur-up lazyload user-round wow zoomIn" data-wow-delay="0.50s">
                            <img src="assets/images/company-landing/home-effect/3.png" alt="" class="img-fluid blur-up lazyload heart wow zoomIn" data-wow-delay="0.40s">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="content">
                        <div>
                            <h1>Home of <span>World's talents</span></h1>
                            <p>Icefame is a social contest platform that uses the power of competition to present the world's talents, creativity and precious life moment directly from their mobile phone.</p>
                            <a href="#" class="btn btn-solid btn-lg">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-home">
        <div class="cross"></div>
        <div class="cross cross1"></div>
        <div class="tringle"></div>
        <div class="tringle tringle1"></div>
        <div class="circle"></div>
        <div class="circle circle1"></div>
    </div>
</section>
<!-- home section end -->

<app-features-list></app-features-list>



    <!-- get in touch section start -->
    <section class="section-pb-space section-pt-space single-feature-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-sec">
                        <h4>find 'your' contest</h4>
                        <h3>get in touch with world's talent</h3>
                    </div>
                </div>
                <div class="col-lg-7 order-lg-2">
                    <div class="vector-section">
                        <img src="assets/images/company-landing/get-in-touch.svg"
                            class="img-fluid blur-up lazyload wow zoomIn" data-wow-delay="0.20s" alt="">
                    </div>
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="feature-content wow fadeInLeft" data-wow-delay="0.30s">
                        <div>
                            <h3 class="title">Access and be part of <span>World's Talents</span></h3>
                            <p>Create contests, participate in contests, follow your favourite contests and also vote in contests.</p>
                            <a [routerLink]="['download']" class="btn btn-solid btn-md">Get app now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-home">
            <div class="cross"></div>
            <div class="cross cross1"></div>
            <div class="tringle"></div>
            <div class="tringle tringle1"></div>
            <div class="circle"></div>
            <div class="circle circle1"></div>
        </div>
    </section>
    <!-- get in touch section end -->



    
    <!-- active user section start -->
    <section class="d-none section-pb-space section-pt-space single-feature-section landing-bg overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-sec">
                        <h4>Waiting List</h4>
                        <h3>100+ on the waiting list already</h3>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="vector-section">
                        <img src="assets/images/company-landing/active-user.svg"
                            class="img-fluid blur-up lazyload active-img wow zoomIn" data-wow-delay="0.20s" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="feature-content wow fadeInRight" data-wow-delay="0.25s">
                        <div>
                            <h3 class="title">Get on board and enjoy</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum blanditiis atque cum
                                iure nihil, ipsa commodi veniam, nemo ipsam sed aliquam aliquid modi totam. Quia
                                architecto nesciunt facere consectetur laudantium.</p>
                            <ul class="feature-lisiting">
                                <li>
                                    <i-feather class="" name="check-square"></i-feather>
                                    Easy to Register with your Device.
                                </li>
                                <li>
                                    <i-feather class="" name="check-square"></i-feather>
                                    Register in a minute by your Email
                                </li>
                            </ul>
                            <a [routerLink]="['download']" class="btn btn-solid btn-md">Get app now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animation-home">
            <div class="cross"></div>
            <div class="cross cross1"></div>
            <div class="tringle"></div>
            <div class="tringle tringle1"></div>
            <div class="circle"></div>
            <div class="circle circle1"></div>
        </div>
    </section>
    <!-- active user section end -->

<app-testimonial></app-testimonial>

<app-download-app></app-download-app>
<app-explore-download-app></app-explore-download-app>

<app-back-to-top></app-back-to-top>

<app-footer></app-footer>